body{
	
	margin: 0px;
	padding: 0px;
}
.card-body{
	
	padding:0;
	float: right;
}
.nav-item{
	text-transform: uppercase;
	font-style: bold;

}
.navbar {
padding-right: 200px;
}

.nav-item{
	text-transform: uppercase;
	font-style: bold;
	display: flex;
}
.nav-link{
	text-transform: uppercase;
	font-style: bold;
}
.form-row{
	text-transform: uppercase;
	font-style: bold;
}
.form-group{
	text-transform: uppercase;
	font-style: bold;
	font-size: 18px;
}
.form-row{
	text-transform: uppercase;
	font-style: bold;
}

.container-sm{
	text-transform: uppercase;
}
.form{
	padding-left: 10%;
}
.form-group1{
	box-sizing: border-box;
	background-color: #9cd9e0;
	font-style: italic;
	font-size: 40px;
}
h5,h6{
	text-transform: uppercase;*/
	font-size: 50px;
}